.modal-out {
    width: 100%;
    margin-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    z-index: 1000;
}
.my-modal-pop-up {
    width: 336pt;
    /*height: 240pt;*/
    margin: 12.5rem auto !important;
    background: url("./background.png") no-repeat;
    background-size: 100% 100%;
    padding: 30pt;
    position: relative;
}
.pop-up-title {
    width: 100%;
    height: 25pt;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20pt;
}
.pop-up-close {
    position: absolute;
    top: 21px;
    right: 21px;
}
.pop-up-close:hover {
    cursor: pointer;
}
.content {
    margin-bottom: 20pt;
}
.content span {
    display: inline-block;
    width: 271pt;
    height: 60pt;
    color: #fff;
    font-size: 14pt;
    text-align: left;
}
.contentInfo {
    width: 153px;
    height: 49px;
    display: inline-block;
    margin-bottom: 20pt;
}
.contentInfo p {
    color: #fff;
    font-size: 14px;
}
.editSalary{
    color: #fff;
    font-size: 14px;
    text-align: left;
}
.editSalary p{
    text-align: left;
    padding-left: 69px;
}
.editSalary input {
    background: transparent;
    color: #fff;
}
.editSalary .ant-form-item-label {
    width: 110px;
}
.my-modal-pop-up label {
    color: #fff;
}
.buttons {
    margin-top: 20pt;
    height: 38pt;
}
.buttons div {
    display: inline-block;
    width: 104pt;
    height: 100%;
    background-size: 100% 100%;
    font-size: 14pt;
    padding-top: 9pt;
}
.buttons div:hover {
    cursor: pointer;
}
.oneBtn {
    margin-top: 20pt;
    height: 38pt;
}
.oneBtn div {
    display: inline-block;
    width: 104pt;
    height: 100%;
    background-size: 100% 100%;
    font-size: 14pt;
    padding-top: 9pt;
}
.oneBtn div:hover {
    cursor: pointer;
}
.cancel {
    background: url("./cancel.png") no-repeat;
    margin-right: 42pt;
    color: #6CAAFF;
}
.ok {
    background: url("./ok.png") no-repeat;
    color: #fff;
}