.home-wrapper {
  display: flex;
  width: 100%;
  background: #001436;
  padding: 20px 40px;
}
.wrapper-left{
  width: 68%;
  margin-right: 23px;
}
.wrapper-right{
  width: 30%;
}
#container{
  height: 476px;
  margin-bottom: 20px;
  background: #4D5671;
  position: relative;
}
.noVideo{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #4D5671;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.noVideo p{
  margin-bottom: 20px;
  font-size: 18px;
  color: #8899C8;
  text-align: center;
}
.noVideo p span{
  display: inline-block;
  width: 80px;
  height: 98px;
  background-image: url('./zwsp.png');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.warp-foo{
  display: flex;
}
.warp-foo_left{
  width: 40%;
  margin-right: 23px;
  background: #4D5671;
  height: 228px;
}
.warp-foo_right{
  width: 60%;
  background: #4D5671;
  height: 228px;
}
.wrap-right_01{
  background: #4D5671;
  height: 228px;
}
.wrap-right_03, .wrap-right_02{
  margin-top: 20px;
  background: #4D5671;
  height: 228px;
}
.home-map-wrapper {
  width: 100%;
  height: 100%;
  border: 2px solid #8faffe;
  border-radius: 4px;
}
.home-wrapper .home-search {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 40px;
  width: 312px;
  font-size: 16px;
}
.home-wrapper .home-search .ant-input, .home-wrapper .home-search .ant-btn {
  height: 40px;
}
.home-wrapper .ant-select-dropdown {
  top: 82px;
  left: 40px;
}
.home-wrapper .home-collapse {
  background: rgb(42, 71, 104);
  border-radius: 0;
  border: none;
}
.home-collapse.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #326390;
}
.home-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 10px 0 10px 40px;
}
.home-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #fff;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  border: 2px solid #8faffe;
  border-radius: 4px;
}
.ljry-box .box-content {
  padding-left: 20px;
}
.ljry-content{
  display: flex;
}
.ljry-box_left{
  width: 20%;
}
.ljry-box_right{
  width: 80%;
  overflow: hidden;
}
.ljry-box_left p{
  margin-top: 12px;
  font-size: 14px;
  color: #fff;
}
.ljry-box_left p span{
  display: inline-block;
  width: 10px;
  height: 10px;
}
.lz{
  background-color: #6A9BFD;
}
.qj{
  background-color: #34EFEF;
}
.rz{
  background-color: #37E36A;
}
.cg{
  background-color: #FFDA48;
}
.box-wrapper .box-title {
  position: relative;
  padding-left: 28px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  margin-bottom: -10px;
}
.box-wrapper .box-content {
  flex: 1;
}
.box-wrapper .box-content.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pt18 {
  padding-top: 18px;
}
.pr18 {
  padding-right: 18px;
}
.pl18 {
  padding-left: 18px;
}
.pb18 {
  padding-bottom: 18px;
}
.w274 {
  width: 274px;
}
