.modal-out.contract-mask {
    width: 100%;
    margin-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    z-index: 1000;
}
.contract-mask .my-modal-pop-up {
    width: 439pt;
    /*height: 240pt;*/
    margin: 0.5rem auto !important;
    background: #364d79;
    background-size: 100% 100%;
    padding: 18pt;
}
.contract-mask .my-modal-pop-up .closeContractMore {
    display: block;
    text-align: left;
    padding-bottom: 10px;
}
.contract-mask .my-modal-pop-up .closeContractMore img:hover {
    cursor: pointer;
}
.contract-mask .content {
    margin-bottom: 20pt;
    overflow: auto;
    height: 562px;
}
.contract-mask .content span {
    display: inline-block;
    width: 271pt;
    height: 60pt;
    color: #fff;
    font-size: 14pt;
    text-align: left;
}
.contract-mask .my-modal-pop-up label {
    color: #fff;
}
.contract-mask .showContractMore-contacts {
    width: 100%;
}