.quit-content {
    width: 450px;
    margin: 161px auto;
}
.quit-content input {
    width: 220px;
    height: 28px;
}
.quit-content .ant-form-item {
    margin-top: 0;
}
.quit-content .ant-form-item:first-child{
    margin-bottom: 2px;
}
.quit-content .ant-form-item:last-child{
    margin-bottom: 23px;
}
.quit-content .quit-tips {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 73px;
    color: #3c91f7;
}
.quit-content .quit-tips img{
    margin-right: 4px;
}
.quit-content .quit-buttons {
    text-align: center;
}
.quit-content .quit-buttons button{
    width: 110px;
    height: 40px;
}
.quit-content .quit-buttons button:first-child{
    margin-right: 80px;
}