.addBankCard-content {
    width: 700px;
    margin: 160px auto;
}
/*.addBankCard-content input {*/
    /*width: 220px;*/
    /*height: 28px;*/
/*}*/
.addBankCard-content .ant-form-item {
    margin-top: 0;
    margin-bottom: 10px;
}
/*.addBankCard-content .ant-form-item:first-child{*/
    /*margin-bottom: 2px;*/
/*}*/
.addBankCard-content .ant-form-item:last-child{
    margin-bottom: 27px;
}
.addBankCard-content .ant-form-item .ant-select-selection {
    width: 286px;
    height: 34px;
}
.addBankCard-content .ant-form-item #bankcardNumber {
    width: 231px;
    height: 34px;
    margin-right: 6px;
}
.addBankCard-content .ant-form-item #bankcardNumber .ant-btn{
    width: 50px;
    height: 34px;
    padding-left: 0;
    padding-right: 0;
}
.addBankCard-content .addBankCard-tips {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 56px;
    color: #3c91f7;
}
.addBankCard-content .addBankCard-tips img{
    width: 18px;
    height: 18px;
    margin-right: 4px;
}
.addBankCard-content .addBankCard-buttons {
    text-align: center;
}
.addBankCard-content .addBankCard-buttons button{
    width: 340px;
    height: 46px;
}