.blue-tips {
    height: 35px;
    background: #1791FF;
    position: relative;
    color: #fff;
    top: -25px;
    margin-left: -24px;
    margin-right: -24px;
}
.blue-tips i {
    width: 3px;
    height: 11pt;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 9px;
    top: 7px;
    margin-right: 10px;
}
.blue-tips span {
    margin-left: 24px;
    font-size: 14px;
    line-height: 35px;
}